@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --skin-color: #8e2306;
    --s-color: #001c40;
}
body{
    background-color: #f5f8fd;
}
/* section title */
.section-title{
    text-align: center;
    line-height: 20px;
    margin-bottom: 40px;
}
.section-title h6{
    color: var(--skin-color);
    font-weight: bold;
    font-size: 28px;
    text-transform: capitalize;
    line-height: 15px;
}
.section-title h2{
    color: var(--s-color);
    font-weight: bold;
    font-size: 40px;
    text-transform: capitalize;
}
/* section title */

/* button */
.btn{
    /* background-color: var(--s-color); */
    border: 2px solid var(--skin-color);
    color: var(--skin-color);
    border-radius: 20px;
    padding: 3px 20px;
    line-height: 30px;
    letter-spacing: 3px;
    font-weight: bold;
    transition: .5s;
    text-transform: capitalize;
}
.btn:hover{
    background-color: var(--skin-color);
    border: 2px solid var(--skin-color);
    border-radius: 0;
    color: white;
}
/* button */

/* topheader section css starts here */
#top-header{
    background-color: var(--skin-color);
    height: 40px;
    line-height: 40px;
}
#top-header .header-contact{
    color: white;
}
#top-header .header-icon{
    word-spacing: 20px;
    text-align: right;
}
#top-header .header-icon a{
    color: white;
    padding: 2px;
    border-radius: 50%;
    width: 50px;
    height: 50p
}
#top-header .header-icon a:hover{
    color: var(--s-color);
}
/* topheader section css ends here */

/* navbar section starts here */
#navbar{
    background-color: white;
    height: 75px;
}
#navbar.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}
#navbar .navbar{
    line-height: 75px;
    padding: 0;
    height: 75px;
}
#navbar .navbar .collapse.show{
    z-index: 100;
    background-color: white;
}
#navbar .navbar .navbar-toggler{
    background-color: var(--skin-color);
    color: white;
    font-weight: bold;
    padding: 10px 15px;
}
#navbar .navbar .navbar-brand{
    color: var(--skin-color);
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding: 0;
}
#navbar .navbar .nav-item .nav-link{
    color: black;
    font-weight: bold;
    padding: 0 15px;
}
#navbar .navbar .dropdown .dropdown-menu .dropdown-item{
    height: 40px;
    padding: 0;
    line-height: 40px;
    color: black;
    font-weight: bold;
    
}
#navbar .navbar .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: var(--s-color);
    color: white;
}
#navbar .navbar .dropdown .dropdown-menu{
    margin: 0;
    padding: 0;
    text-align: center;
    min-width: 250px;
    border: 2px solid var(--s-color);
}
#navbar .navbar .nav-item .nav-link:hover{
    color: white;
    background-color: var(--skin-color);
    border-bottom: 3px solid #731d05;
}
#navbar .navbar .nav-item.active .nav-link{
    color: white;
    background-color: var(--skin-color);
    border-bottom: 3px solid #731d05;
}
/* navbar section ends here */

/* slider section starts here */
#slider{
    height: 88.2vh;
}
#slider .container-fluid{
    padding: 0;
}
#slider .container-fluid img{
    height: 88.2vh;
}
/* slider section ends here */

/* about us section starts here */
#about{
    /* background-color: gray; */
    min-height: 100vh;
    padding: 60px;
}
#about .about-img img{
    border-radius: 5px;
}
#about .about-content{
    text-align: center;
}
#about .about-content p{
    /* font-weight: 500; */
    font-size: 18px;
    /* text-align: justify; */
}
/* about us section ends here */

/* service section starts here */
#service{
    /* background-color: gray; */
    min-height: 100vh;
    padding: 60px;
}
#service .service-box{
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    background-clip: border-box;
    /* box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; */
    margin-bottom: 20px;
}
#service .service-box:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
#service .service-box .icon{
    color: var(--s-color);
    font-size: 20px;
    border: 5px solid var(--s-color);
    padding: 20px;
    border-radius: 50%;
    transition: 1s;
    margin-bottom: 10px;
    font-weight: bold;
}
#service .service-box .icon:hover{
    background-color: var(--s-color);
    color: white;
}
#service .service-box h4{
    color: var(--skin-color);
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
}
#service .service-box p{
    font-size: 18px;
}
/* service section ends here */

/* our class section starts here */
#our-class{
    min-height: 100vh;
    padding: 60px;
}
#our-class .class-box{
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.669);
    background-clip: border-box;
    margin-bottom: 20px;
    transition: .3s;
}
#our-class .class-box:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border: 2px dashed var(--s-color);
    /* padding: 5px; */
}
#our-class .class-box h4{
    font-size: 28px;
    font-weight: bolder;
    color: var(--s-color);
    quotes: "'" "'";
}
#our-class .class-box h6{
   font-weight: bold;
   text-transform: capitalize;
}
#our-class .class-box p{
   font-size: 48px;
   font-weight: 100;
   color: var(--skin-color);
}
#our-class .class-box ul{
    list-style-type: none;
    text-align: left;
    padding: 10px;
    margin-bottom: 20px;
}
#our-class .class-box ul li{
    line-height: 50px;
    font-weight: bold;
    /* letter-spacing: 2px; */
    font-size: 18px;
    border-bottom: 2px solid var(--s-color);
}
#our-class .class-box ul li:last-child{
    border-bottom: none;
}
#our-class .class-box ul li::before{
    content:"\2714\0020";
    color: var(--s-color);
}
/* our class section ends here */

/* contact section starts here */
#contact{
    padding: 60px;
    min-height: 100vh;
}
#contact .contact-box{
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    background-clip: border-box;
    margin-bottom: 20px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
#contact .contact-box:hover .icon{
    background-color: var(--s-color);
    color: white;
}
#contact .contact-box .icon{
    color: var(--s-color);
    font-size: 20px;
    border: 5px solid var(--s-color);
    padding: 20px;
    border-radius: 50%;
    transition: 1s;
    margin-bottom: 10px;
    font-weight: bold;
}
#contact .contact-box .icon:hover{
    background-color: var(--s-color);
    color: white;
}
#contact .contact-box h4{
    color: var(--skin-color);
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
}
#contact .contact-box p{
    font-size: 18px;
    font-weight: bold;
}
#contact form .form-control{
    border-radius: 20px;
    padding-left: 20px;
    border: 2px solid var(--s-color);
    color: var(--s-color);
}
#contact form .form-control:focus{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border: 2px solid var(--skin-color);
}
#footer{
    background-color: rgb(10, 94, 158);
    color: white;
    padding: 40px 0;
}
#footer .footer-about{
    text-align: left;
}
#footer .footer-about a{
    color: white;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--s-color);
}
#footer .footer-about p{
    font-size: 14px;
    text-align: left;
}
#footer .quick-links h4{
    border-bottom: 2px solid white;
    font-size: 24px;
    text-transform: capitalize;
    color: var(--s-color);
}
#footer .quick-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#footer .quick-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
#footer .quick-links ul li a:hover{
    color: var(--s-color);
}
#footer .footer-contact h4{
    border-bottom: 2px solid white;
    font-size: 24px;
    text-transform: capitalize;
    color: var(--s-color);
}
#footer .footer-icon{
    margin-top: 40px;
    border-top: 2px solid white;
    padding: 20px;
    text-align: center;
    word-spacing: 5px;
}
#footer .footer-icon .icon{
    color: white;
    font-size: 20px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    transition: 1s;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

/* contact section ends here */