@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --skin-color: #8e2306;
    --s-color: #001c40;
}
body{
    background-color: #f5f8fd;
}

/* topheader section css starts here */
#top-header{
    background-color: var(--skin-color);
    height: 40px;
    line-height: 40px;
}
#top-header .header-contact{
    color: white;
}
#top-header .header-icon{
    word-spacing: 20px;
    text-align: right;
}
#top-header .header-icon a{
    color: white;
    padding: 2px;
    border-radius: 50%;
    width: 50px;
    height: 50p
}
#top-header .header-icon a:hover{
    color: var(--s-color);
}
/* topheader section css ends here */

/* navbar section starts here */
#navbar{
    background-color: white;
    height: 75px;
}
#navbar .navbar{
    line-height: 75px;
    padding: 0;
    height: 75px;
}
#navbar .navbar .collapse.show{
    z-index: 100;
    background-color: white;
}
#navbar .navbar .navbar-toggler{
    background-color: var(--skin-color);
    color: white;
    font-weight: bold;
    padding: 10px 15px;
}
#navbar .navbar .navbar-brand{
    color: var(--skin-color);
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding: 0;
}
#navbar .navbar .nav-item .nav-link{
    color: black;
    font-weight: bold;
    padding: 0 15px;
}
#navbar .navbar .dropdown .dropdown-menu .dropdown-item{
    height: 40px;
    padding: 0;
    line-height: 40px;
    color: black;
    font-weight: bold;
    
}
#navbar .navbar .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: var(--s-color);
    color: white;
}
#navbar .navbar .dropdown .dropdown-menu{
    margin: 0;
    padding: 0;
    text-align: center;
    min-width: 250px;
    border: 2px solid var(--s-color);
}
#navbar .navbar .nav-item .nav-link:hover{
    color: white;
    background-color: var(--skin-color);
    border-bottom: 3px solid #731d05;
}
#navbar .navbar .nav-item.active .nav-link{
    color: white;
    background-color: var(--skin-color);
    border-bottom: 3px solid #731d05;
}
/* navbar section ends here */

/* slider section starts here */
#slider{
    height: 500px;
}
#slider .container-fluid{
    padding: 0;
}
#slider .container-fluid img{
    height: 88.2vh;
}
/* slider section ends here */